html {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2vh;
  line-height: 1;
  text-align: center;
  color: #2D2E32;
  margin: 0;
  overflow-x: hidden;
}

p {
  line-height: 1.3;
}


header {
  position: relative;
  margin: 4vh 0 2vh;
  color: #fff;
  z-index: 10;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 7.1vh;
  margin: 0;
  line-height: 0.8;
  padding: 0;
  text-align: center;
}

h5 {
  color: #fff;
  font-weight: 400;
  font-size: 2vh;
  margin: 1vh 0;
}

h5 a {
  color: #fff;
}

main {
  overflow-x: hidden;
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background: rgb(255, 202, 16);
  background: linear-gradient(0deg, rgba(255, 202, 16, 1) 0%, rgba(255, 202, 16, 1) 50%, rgba(86, 133, 212, 1) 50%, rgba(22, 111, 255, 1) 100%);
}



.board-container {
  display: table-cell;
  vertical-align: middle;
}

#myBoard {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-left: 6px;
}

info {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
}

.status {
  text-align: center;
  color: #2D2E32;
}



footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 30px;
  font-size: 1.5vh;
}


a {
  color: #2D2E32;
  text-decoration: underline;
  cursor: pointer;
}




.flip {
  transform: scale(-1, 1);
}

.highlight-white {
  box-shadow: none;
}

.highlight-black {
  box-shadow: none;
}

.highlight-hint {
  box-shadow: inset 0 0 3px 3px red;
}