

/* ------- Structure ------- */

html {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  color: #F1BC01;
  margin: 0;
  overflow-x: hidden;
  background: #468DFF;
}
@media (min-width: 1000px) {
  body {
    font-size: 2.5vh;
  }
}






/* ------- Text Styles ------- */

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 38px;
  margin: 0;
  line-height: 0.8;
  padding: 0;
  text-align: center;
}
@media (min-width: 1000px) {
  h1 {
    font-size: 8vh;
  }
}
.flip {
  transform: scale(-1, 1);
}

h5 {
  color: inherit;
  font-weight: 400;
  font-size: inherit;
  margin: 1vh 0;
}

h5 a {
  color: inherit;
}

p {
  line-height: 1.3;
}

a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}






/* ------- Button Styles ------- */

button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 0em 2em .5em 2em;
  padding: .5em 1em;
  border-radius: 100px;
  color: #F1BC01;
  background-color: #1976d2;
  border: 0;
  cursor: pointer;
  text-decoration: none;
}
@media (min-width: 1000px) {
  button {
    font-size: 2.5vh;
  }
}
button:hover {
  background-color: #175899;
}

.button-yellow {
    background-color: #F1BC01;
    color: #1976d2;
}






/* ------- Layout ------- */

.container1, .container2, .container3 {
  width: 100%;
  height: auto;
}
.container2 {
  height: auto;
  display: flex;
  justify-content: center;
}
.container3 {
  padding-top: 3vh;
}

@media (min-width: 1000px) {
  .container1, .container2, .container3 {
    width: auto;
    height: auto;
  }
  .container1 {
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .container2 {
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 5%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .container3 {
    display: none;
  }
}
@media (max-width: 999px) {
  .mobile-hidden {
    display: none;
  }

}





header {
  margin: 4vh 0;
  color: inherit;
}

main {
  overflow-x: hidden;
  display: table;
  height: 90vw;
  width: 90vw;
}
@media (min-width: 650px) {
  main {
    height: 600px;
    width: 600px;
  }
}

@media (min-width: 1000px) {
  main {
    height: 70vh;
    width: 70vh;
  }
}
@media (min-width: 1400px) {
  main {
    height: 90vh;
    width: 90vh;
  }
}

.board-container {
  display: table-cell;
  vertical-align: middle;
}

#myBoard {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-left: 4px;
}

.readout {
  margin-top: 1vh;
}
@media (min-width: 1000px) {
  .readout {
    margin-top: 3vh;
  }
}

#status {
  text-align: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
  background: rgb(255, 202, 16);
  background: linear-gradient(-45deg, #F1BC00 30%, #8F8F8F 50%, #468DFF 70%);
}





/* ------- Chess Styles ------- */


.highlight-white {
  box-shadow: none;
}

.highlight-black {
  box-shadow: none;
}

.highlight-hint {
  box-shadow: inset 0 0 3px 3px red;
}



/* ------- End ------- */
